
.cat-image-container {
  padding: 20px;
  width: 80%;
  border: solid red 10px; 
  margin: auto;
}

.cat-image-container img {
  width: 100%;
}

.my-col {
  /* border: solid salmon; */
}

.cat-img {
  width: 100px;
}

.btn-primary {
  background-color: blueviolet;
}

.btn-primary:hover {
  background-color: blueviolet;
}